<div class="homeDiv">
    <div class="topDiv">
        <!-- <p>home works!</p> -->
        <h3>Hi {{ userName }}</h3>
        <!-- <form action="submit"> -->
            <label>Enter you name:</label>
            <input type="text" [(ngModel)] = "userName">
            <h3>{{userName}}</h3>
            <!-- <button>Submit</button> -->

        <!-- </form> -->
        
      </div>
      <div class="bottomDiv">
        <div class="buttonDiv">
            <button (click)="selectMood(mood)" *ngFor="let mood of moods" class="mood-button">
                {{ mood }}
              </button>
        </div>
      
        <h3
          *ngIf="showSelectedMood"
          class="mood-display"
          [ngClass]="{
            'happy-mood': selectedMood === 'happy',
            'sad-mood': selectedMood === 'sad',
            'calm-mood': selectedMood === 'calm',
            'excited-mood': selectedMood === 'excited',
          }"
        >
          Selected Mood: {{ selectedMood | moodEmoji }}
        </h3>
        <h1 *ngIf="isMoodMessage" class="mood-message">Message from Larry_(BOT): {{ moodMessage }}</h1>
      </div>
      
</div>