/* Mood type styles */
.homeDiv{
    margin: 20px;
    padding: 30px;
}
.topDiv{
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.bottomDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* background-color: #f8f8f8; */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    gap: 15px; 
  }
  .buttonDiv{
    display: flex;
  }
  
  .mood-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .mood-button:hover {
    background-color: #d0d0d0;
  }
  
  .mood-display {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }
  
  .happy-mood {
    background-color: #fffacd; 
    color: #a0522d; 
  }
  
  .sad-mood {
    background-color: #e0f2f7;
        color: #1976d2;
  }
  
  .calm-mood {
    background-color: #f0fff0;
    color: #2e7d32; 
  }
  
  .excited-mood {
    background-color: #ffe0b2; 
    color: #d84315; 
  }
  
  .mood-message {
    font-size: 1.5em;
    color: #e6e4e4;
    text-align: center;
    margin-top: 10px;
  }
/* Button styles */
button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95); 
    background-color: #ccc;
}