<div>
  <h1>About Mood Board</h1>
  <p>
    Mood Board is a simple yet powerful tool designed to help you track and
    reflect on your daily moods. By logging your feelings every day, you can
    easily visualize your emotional journey over the course of the month. At the
    end of each month, you’ll have a clear view of your mood patterns, which can
    inspire positive changes and help you stay motivated to focus on your mental
    well-being.
  </p>

  <p>
    This app was built with Angular, marking an exciting step in my learning
    journey. Throughout the development process, I’ve gained valuable experience
    with Angular’s powerful features and tools, and I’m thrilled to share this
    project as part of my growth as a developer.
  </p>
</div>
